<h1>Posts</h1>

<% @posts.each do |post| %>
  <p><%= image_tag post.image.url(:large)%></p>
  <p>About <%= post.description %></p>
  <p>by <%= post.user.name %></p>
  <p> <%= post.posted_at %></p>

  <% post.comments.each do |comment| %>
    <p>content: <%= comment.content %><p>
    <p>commented by <%= comment.user.name %><p>
  <% end %>

  <%= form_for post.comments.new(user: current_user), html: { multipart: true }, url: {controller: "comments", action: "create"} do |form| %>
     <%= form.text_area :content, :rows =>4, :cols => 50 %>
     <%= form.submit "Submit" %>
   <% end %>

  <p><%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Edit', edit_post_path(post) %></p>


<% end %>


<%= link_to 'Add Post', new_post_path %>
